<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
    <script src="{% static 'core/custom.js' %}"></script>

    <title>Todo App</title>
</head>
<body>
<div class="container">
        <div class="center-block">
            <a href="/todo"><h1 class="text-center jumbotron">Todos Home</h1></a>
        </div>
        <div class="row jumbotron">
          <div class="col-md-4">
              <h2 class="text-center">Search</h2>
              <form id= "searchForm" class="form-inline" onsubmit="getTodos(); return false;" method="get">

                  <div class="form-group">
                      <label class="text-center"><mark>Url or Tag</mark></label>
                        <input  id="query" class="form-control" class="form-control" type="text" placeholder = "type url or tag" />
                  </div>
                  <div class="form-group">
                      <label class="phide">Search</label>
                      <button  class="btn btn-primary" type="submit">Search</button>
                  </div>

              </form>

          </div>
          <div class="col-md-8">
              <h2 class="text-center">Add Todo</h2>
              <form  id="submitForm" class="form-inline" onsubmit="addTodo(); return false;">

                  <div class="form-group">
                      <label class="text-center"><mark>Url</mark></label>
                          <input  id="url" class="form-control" type="text" placeholder="type in a url"/>
                  </div>

                  <div class="form-group">
                      <label class="text-center"><mark>Todo Text</mark></label>
                          <input  id="detail" class="form-control" type="text" class="detailfield" placeholder="I got to..."/>
                  </div>

                  <div class="form-group">
                      <label class="text-center"><mark>Tags</mark></label>
                          <input  id="tags" class="form-control" type="text" placeholder="tags to attach goes in here"/>
                  </div>

                  <div class="form-group">
                      <label class="phide">Submit</label>
                      <button  id="submit" class="btn btn-primary" type="submit">Add</button>
                  </div>

              </form>
          </div>
        </div>
        <div class='clearfix'></div>
        <div class="row jumbotron pre-scrollable" style="min-height:500px;">
            <div id="addSuccess" class="alert alert-success"><strong><p class="text-center">Todo Added</p></strong></div>
            <div id="deleteSuccess" class="alert alert-success"><strong><p class="text-center">Todo Deleted</p></strong></div>
            <div id="main">
                {% if todos %}
                    <div class="text-center"><h2 style="color:#ed3b3b;margin-top:0;margin-bottom:30px">Todo List</h2></div>
                    <table class="table table-bordered table-hover" id="todoTable">
                    <tr>
                        <th>Url</th><th>Todo Text</th><th colspan="2">Tags</th>
                    </tr>
                    {% for todo in todos %}

                        <tr id="todo-{{todo.id}}">
                        <td><b>{{todo.url}}</b></td>
                        <td><b>{{todo.detail}}</b></td>
                        <td>
                        {% for tag in todo.tags.all %}
                            <a onclick="tagSearch(this)" class="label label-info">{{tag}}</a>
                        {%endfor%}
                        </td>
                        <td><button onclick="deleteTodo('{{todo.id}}');" class="btn">Delete</button></td>
                      </tr>

                    {% endfor %}
                    </table>

                {% else %}

                    <div class="alert alert-info">No Todos in your List, Add one to begin.</div>

                {% endif %}
            </div>

        </div>

</div>
</body>
</html>
